VITE_APPWRITE_URL ="https://sgp.cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECT_ID = "6a908e8200297af9ae71"
VITE_APPWRITE_DATABASE_ID = "6a908fab0011bbefb211"
VITE_APPWRITE_TABLE_ID = "6a909067000ec835ae08"
VITE_APPWRITE_BUCKET_ID = "6a9093bd000db9e69ef5"